<p id="notice"><%= notice %></p>

<p>
  <strong>Reserva:</strong>
  <%= @reserva_sala.reserva %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @reserva_sala.sala %>
</p>

<%= link_to 'Edit', edit_reserva_sala_path(@reserva_sala) %> |
<%= link_to 'Back', reserva_salas_path %>
