<%= form_for(@sala) do |f| %>
  <% if @sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sala.errors.count, "error") %> prohibited this sala from being saved:</h2>

      <ul>
      <% @sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salaFull %><br>
    <%= f.text_field :salaFull %>
  </div>
  <div class="field">
    <%= f.label :salaMedia %><br>
    <%= f.text_field :salaMedia %>
  </div>
  <div class="field">
    <%= f.label :salaBasica %><br>
    <%= f.text_field :salaBasica %>
  </div>
  <div class="actions">
    <%= f.submit "Nueva sala" %>
  </div>
<% end %>
